<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Playlist</title>
	<link type="text/css" rel="stylesheet" href="../../css/style.css" />
</h:head>

<h:body>
	<ui:composition template="/pages/layout/commonLayout.xhtml">
		<ui:define name="content">
		<br></br>
			<h3>Add Playlist</h3>
			<br></br>
			<h:form>
				<p:panelGrid columns="2" >
					<p:outputLabel value="Title:" for="title" />
					<p:inputText id="title" value="#{playlistBean.playlist.title}" required="true" />
				
					<p:outputLabel value="Description:" for="description" />
					<p:inputText id="description" value="#{playlistBean.playlist.description}" />
		        	
					<p><h:commandButton id="submit" value="Submit" action="#{playlistBean.createPlaylist()}"></h:commandButton></p>
					<p><h:message for="title" id="error" style="color: red" showSummary="false" showDetail="true"></h:message></p>
				</p:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>