<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Songs</title>
</h:head>

<h:body>
	<ui:composition template="/pages/layout/commonLayout.xhtml">
		<ui:define name="content">
			<br></br>
			<h3>Songs</h3>

			<p:dataTable value="#{playlistSongsBean.songs}" var="song"
				styleClass="table" headerClass="table-header">

				<p:column>
					<f:facet name="header">
						<h:outputText value="Id"></h:outputText>
					</f:facet>
					<h:outputText value="#{song.id}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Name"></h:outputText>
					</f:facet>
					<h:outputText value="#{song.name}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Album"></h:outputText>
					</f:facet>
					<h:outputText value="#{song.album}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="Singer"></h:outputText>
					</f:facet>
					<h:outputText value="#{song.singer}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Year"></h:outputText>
					</f:facet>
					<h:outputText value="#{song.year}" />
				</p:column>
				
			</p:dataTable>
			<br></br>
			
			<a class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" href="songForm.xhtml"> Add Song </a>
		</ui:define>
	</ui:composition>
	
</h:body>
</html>