<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Playlists</title>
</h:head>

<h:body>
	<ui:composition template="/pages/layout/commonLayout.xhtml">
		<ui:define name="content">
			<br></br>
			<h3>Projects</h3>

			<p:dataTable value="#{playlistBean.playlists}" var="playlist"
				styleClass="table" headerClass="table-header">

				<p:column>
					<f:facet name="header">
						<h:outputText value="Id"></h:outputText>
					</f:facet>
					<h:outputText value="#{playlist.id}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Title"></h:outputText>
					</f:facet>
					<h:outputText value="#{playlist.title}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Description"></h:outputText>
					</f:facet>
					<h:outputText value="#{playlist.description}" />
				</p:column>

				<p:column>
				<f:facet name="header">Action</f:facet>
				<h:link outcome="playlistSongsView?playlist=#{playlist.id}" value="View songs"/>
				</p:column>
			
			</p:dataTable>
			<br></br>
		</ui:define>
	</ui:composition>
</h:body>
</html>