<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Song</title>
	<link type="text/css" rel="stylesheet" href="../../css/style.css" />
</h:head>

<h:body>
	<ui:composition template="/pages/layout/commonLayout.xhtml">
		<ui:define name="content">
		<br></br>
			<h3>Add Song</h3>
			<br></br>
			<h:form>
				<p:panelGrid columns="2" >
					<p:outputLabel value="Name:" for="name" />
					<p:inputText id="name" value="#{songBean.song.name}" required="true" />
				
					<p:outputLabel value="Album:" for="album" />
					<p:inputText id="album" value="#{songBean.song.album}" />
					
					<p:outputLabel value="Singer:" for="singer" />
					<p:inputText id="singer" value="#{songBean.song.singer}" />
					
					<p:outputLabel value="Year" for="year" />
					<p:inputText id="year" value="#{songBean.song.year}" />
		        	
					<p><h:commandButton id="submit" value="Submit" action="#{songBean.createSong()}"></h:commandButton></p>
					<p><h:message for="name" id="error" style="color: red" showSummary="false" showDetail="true"></h:message></p>
				</p:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>	
</h:body>

</html>