<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
	<composite:attribute name="title" />
	<composite:attribute name="data" />
	<composite:attribute name="column1" />
	<composite:attribute name="column2" />
	<composite:attribute name="column1data" />
	<composite:attribute name="column2data" />
	<composite:attribute name="action" method-signature="void matching()" />
</composite:interface>
<composite:implementation>
	<br></br>
	<h3>#{cc.attrs.title}</h3>
	<h:form>
		<p>
			<h:commandButton id="submit" value="Submit"
				action="#{cc.attrs.action}"></h:commandButton>
		</p>
	</h:form>

	<p:dataTable value="#{cc.attrs.data}" var="pairs" styleClass="table"
		headerClass="table-header">

		<p:column>
			<f:facet name="header">
				<h:outputText value="#{cc.attrs.column1}"></h:outputText>
			</f:facet>
			<h:outputText value="#{cc.attrs.column1data}" />
		</p:column>

		<p:column>
			<f:facet name="header">
				<h:outputText value="#{cc.attrs.column2}"></h:outputText>
			</f:facet>
			<h:outputText value="#{cc.attrs.column2data}" />
		</p:column>

	</p:dataTable>
	<br></br>
</composite:implementation>
</html>