.ui-panelgrid td, .ui-panelgrid tr
	{
    	border-style: none !important
	}
	
.table{   
	text-align:center;
	border-collapse:collapse;
}

.table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}