<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>

		<h:form style="width:100%;">
			<p:menubar>
				<p:submenu label="Playlist">
					<p:menuitem value="Add Playlist"
						url="/faces/pages/playlistForm.xhtml"></p:menuitem>
					<p:menuitem value="View Playlists"
						url="/faces/pages/playlistView.xhtml"></p:menuitem>
				</p:submenu>
				<p:submenu label="Songs">
					<p:menuitem value="View Songs"
						url="/faces/pages/songView.xhtml"></p:menuitem>
				</p:submenu>
			</p:menubar>
		</h:form>
	</ui:composition>
</body>
</html>