<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link type="text/css" rel="stylesheet" href="../../css/style.css" />
</h:head>

<h:body>

	<div id="page">

		<div id="header">
			<ui:insert name="header">
				<ui:include src="/pages/layout/commonHeader.xhtml" />
			</ui:insert>
		</div>

		<div id="content">
			<ui:insert name="content">
				<ui:include src="/pages/layout/commonContent.xhtml" />
			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="/pages/layout/commonFooter.xhtml" />
			</ui:insert>
		</div>

	</div>

</h:body>
</html>